:root {
  --jumbotron-padding-y: 3rem;
}

.jumbotron {
  padding-top: var(--jumbotron-padding-y);
  padding-bottom: var(--jumbotron-padding-y);
  margin-bottom: 0;
  background-color: #fff;
}
@media (min-width: 768px) {
  .jumbotron {
    padding-top: calc(var(--jumbotron-padding-y) * 2);
    padding-bottom: calc(var(--jumbotron-padding-y) * 2);
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
  padding-top: 3.5rem;
}
.jumbotron {
    background: linear-gradient( rgba(0,0,0,0.5), rgba(0, 0, 0, 0.5) ),url('https://images.unsplash.com/photo-1509924618912-fb542eda1a12?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=35d4b9661eb346d1e67d01083472aede&auto=format&fit=crop&w=1050&q=80');

    color: white;
}

.label {
    font-family: serif;
}
.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
  box-shadow: inset 0 1px 1px rgba(200, 16, 46, 0.6), 0 0 8px rgba(200, 16, 46, 0.6);
  border-color: red; 
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.btn {
    color:white;
  font-family:"Milo";
  background-color: #C8102E !important;
  border-color: #C8102E !important;
}
.btn:hover {
   background-color: #890606 !important;
  border-color: #890606 !important; 
}
.p {
    font-family: "Times New Roman";
}

.card {

  /* 300px with no border */
  /* width: 298px; */
  top: 10px;

  border: 1px solid black;

  text-align: center;
  background: white;
  transition: right .2s linear,
              bottom .2s linear,
              top .2s linear,
              left .2s linear,
              line-height .2s linear,
              z-index .2s linear;
}



.card{

position:sticky;
        background: linear-gradient( rgba(0,0,0,0.5), rgba(0, 0, 0, 0.5) ),url('https://images.unsplash.com/photo-1519120126473-8be7aedcd6c6?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=a55332dfc236b13f118ef77a36b4052f&auto=format&fit=crop&w=1050&q=80') no-repeat center center;
    background-size: 100%;
    height: 200px;

}

.footer{
    top:200px;
    position: absolute;
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:white;
    font-size: 50px;
}


.card .card-text{
    visibility: hidden;
}

.expanded{
    background-size:0px;
    background: transparent !important;
}

.card .btn-group{
    visibility: hidden;
}

.expanded .centered{
    visibility: hidden;
}
.expanded {
  top: -10px;
 
  height:100%;

  z-index: 9999;
}

.expanded .card-text{
    visibility: visible;
}

.expanded .btn-group{
    visibility: visible;
}



* {
  font-family: Helvetica, Arial, sans-serif;
}
